<h1>Blog Details Dashboard Here, /Views/Dash/Details/Blog/Index.html</h1>

<div>
    Back to the <a href="/Dash/Blog/">Blog Dashboard</a>
    @* how to <a asp-controller="Blog" asp-controller-namespace="Dash"></a> *@
</div>
<div>
    View <a href="/Blog/">All Blogs</a>
    @* how to <a asp-controller="Blog"></a> *@
</div>