<h1>Blog Dashboard Here, /Views/Dash/Blog/Index.html</h1>
<div>
    View <a href="/Blog">All Blogs</a>
    @*<a asp-controller="Blog"></a> *@
</div>
<div>
    View <a href="/Dash/Details/Blog">Blog Details</a>
    @* how to <a asp-controller="Blog" asp-controller-namespace="Dash/Details"></a> *@
</div>
